@font-face {
  font-family: Far_YasBd;
  font-style: normal;
  font-weight: normal;

  font-size: 50px;
  src: url("fonts/Far_YasBd.ttf") format("truetype");
}

body {
  font-family: Far_YasBd;
  color: white;
  background-color: black;

}